*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/backend
/app/client_secret.json
/app/client_secret_dev.json
/app/client_secret_production.json
/app/google-services.json
/app/google-services_dev.json
/app/google-services_production.json