<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.leonardpieper.ceciVPlan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts all URIs that begin with "http://test-e84e5.firebaseapp.com" -->
                <data
                    android:host="test-e84e5.firebaseapp.com"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VPlanActivity"
            android:label="@string/title_activity_vplan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://test-e84e5.firebaseapp.com/vplan" -->
                <data
                    android:host="test-e84e5.firebaseapp.com"
                    android:pathPrefix="/vplan"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SignUpActivity" />

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".NotifyService" />

        <activity
            android:name=".KlausurenActivity"
            android:label="@string/title_activity_klausuren"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KurseActivity"
            android:label="@string/title_activity_kurse"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://test-e84e5.firebaseapp.com/kurse" -->
                <data
                    android:host="test-e84e5.firebaseapp.com"
                    android:pathPrefix="/kurse"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".KursActivity" />
        <activity android:name=".SignUpAnonymActivity" />
        <activity android:name=".DevActivity" />
        <activity
            android:name=".DevWebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>